
.logo img {
    margin-top: 8rem;
    margin-bottom: -8rem;
    margin-left: 8rem;
    width: 450px;
}

body {
    text-align: justify;
}

/* nav container */

nav, .logo, p, h3, h4, h5, h6, th, td {
    font-family: mono45-headline; 
    font-weight: 300;
    font-style: normal;
} 

.navcontainer {
    position: relative;
    width: 100%;
    height: 100vh;    
}

nav {
    display: flex;
    width: 84%; 
    margin: auto; 
    padding: 50px 0;
    align-items: center; 
    justify-content: space-between; 
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 40px; 
    padding-top: 100px;
}

nav ul li a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

nav ul li a:hover {
    color: #01b9ff; 
}

/* headings */ 

h1 {
    font-family: mono45-headline, monospace;
    font-weight: 500;
    font-style: normal;  
} 

h4 {
    font-family: mono45-headline, monospace;
    font-weight: 300;
    font-style: normal;
   
}

/* container for main/home page */ 

.welcome {
    margin-top: -600px;
    text-align: center;
}

.welcome h1 {
    font-size: 80px;
}

.welcome h3 {
    margin-top: -50px;
    font-size: 40px;
}

.welcome h3:hover {
    color: #01b9ff; 
}

.welcome p {
    margin-top: -25px;
    font-size: 25px;
}

/* about me page */ 

.about {
    width: 10px;
    height: 10px;
    right: 100%; 
}


.aboutmetitle {
    text-align: center;
    font-size: 35px;
    margin-top: -600px;
}
    
.about img {
    width: 500px;
    height: 500px;
    margin-left: 160px; 
}

.abouttext {
    text-align: right;
    max-width: 700px;
    margin-left: 1000px;
    justify-content: center;
}

.abouttext p {
    font-size: 27px;
}



/* footer */ 
footer {
    bottom: 0;
    padding: 2rem;
}


