
.logo img {
    margin-top: 8rem;
    margin-bottom: -8rem;
    margin-left: 8rem;
    width: 450px;
    flex-wrap: wrap;
}

body {
    text-align: justify;
}

/* nav container */

nav, .logo, p, h2, h3, h4, h5, h6, th, td {
    font-family: mono45-headline; 
    font-weight: 300;
    font-style: normal;
} 

.navcontainer {
    position: relative;
    width: 100%;
    height: 100vh;    
}

nav {
    display: flex;
    width: 84%; 
    margin: auto; 
    padding: 50px 0;
    align-items: center; 
    justify-content: space-between; 

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 40px; 
    padding-top: 100px;
}

nav ul li a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

nav ul li a:hover {
    color: #01b9ff; 
}

/* headings */ 

h1 {
    font-family: mono45-headline, monospace;
    font-weight: 500;
    font-style: normal;  
} 

h4 {
    font-family: mono45-headline, monospace;
    font-weight: 300;
    font-style: normal;
   
}

/* home */ 

.welcome {
    margin-top: -400px;
    text-align: center;
}

.welcome h1 {
    font-size: 70px;
}

.welcome h3 {
    margin-top: -50px;
    font-size: 40px;
}

.welcome h3:hover {
    color: #01b9ff; 
}

.welcome p {
    margin-top: -25px;
    font-size: 25px;
}


.welcome img {
    width: 650px;    
}

/* about */ 

.about {
    width: 10px;
    height: 10px;
    right: 100%; 
}

.aboutmetitle {
    text-align: center;
    font-size: 35px;
    margin-top: -500px;
}
    
.about img {
    width: 550px;
    height: 550px;
    margin-left: 160px;
    flex-wrap: wrap;
}

.abouttext {
    text-align: left;
    max-width: 600px;
    margin-left: 680px;
    justify-content: center;
    padding-left: 70px;
    text-justify: distribute-all-lines;
    margin-top: 1px;
    flex-wrap: wrap;
}

.abouttext p {
    font-size: 22px;
}

/* portfolio */ 

.foliotitle {
    text-align: center;
    font-size: 35px;
    margin-top: -500px;
    
}

.portfoliocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.portfoliocontainer .gallery {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    
}

.portfoliocontainer .gallery .work {
    display: flex;
    flex-direction: column;
    width: 50%; 
}

.work p {
    padding-top: 40px;
    padding-bottom: 20px; 
}

.work img {
    width: 400px;
    height: 200px;
    padding-top: 40px;  
    padding-bottom: 20px;
    padding-right: 5px;
}


/* contact */

.contact {
    width: 10px;
    height: 10px;
    right: 100%; 
}

.contactmetitle {
    text-align: center;
    font-size: 35px;
    margin-top: -500px;
}
    
.contact img {
    width: 550px;
    height: 550px;
    margin-left: 160px;
    flex-wrap: wrap;
}


.contacttext {
    text-align:left;
    max-width: 600px;
    margin-left: 680px;
    justify-content: left;
    padding-left: 70px;
    margin-top: 1px;
    flex-wrap: wrap;
}

.contacttext p {
    font-size: 22px;
}


/* footer */ 
footer {
    bottom: 0;
    padding: 10rem;
}










